/*

Table of Content:
01/ Variables
02/ predefin
03/ header
04/ banner
05/ slider
06/ feature
07/ button
08/ service
09/ testimonials 
10/ blog 
11/ contact 
12/ footer 
=====================================================================*/ 

/*----------------------------------------------------*/
@import "variables";
/*---------------------------------------------------- */ 

/*----------------------------------------------------*/
@import "predefin";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "header";
/*---------------------------------------------------- */
.containert{    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;}
/*----------------------------------------------------*/
@import "banner";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "slider";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "feature";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "button";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "shop";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "blog";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "contact";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */
#scrollUp {
    background-color: $bg-default;
    border-radius: 0;
    bottom: 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: $white-color;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    right: 60px;
    text-align: center;
    width: 40px;
    @include trans-duration(500ms);
    &:hover {
        background-color: $dark-color;
    }
    @media #{$breakpoint-xs} {
        bottom: 30px;
        right: 30px;
    }
}






