
	a{
	font:14px/1.6 arial, verdana, tahoma;
	color:#5d5d9d;
	text-decoration:none;
	}
	.active,a:hover
	{
	color:#00ff00
	}
#log{
margin: -150px 509px;
margin-top: 60px;

}
#lp{
	margin:150px 440px;
	background:url(../images/ghj.png);
	border-radius:20px;
	border:2px solid #61F7DB;
	padding-left: 130px;
}
#kirish{
	border-radius:20px;border-color:#61F7DB;
	width:60px;
	height:28px;
	}
#regis{
	border-radius:20px;border-color:#61F7DB;
	width:113px;
	height:28px;
	margin-top:20px;
	margin-right: 7px;
	}
	